@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
li {
  list-style: none;
}
button {
  cursor: pointer;
}
.app {
  display: flex;
  min-height: 100vh;
  max-width: 1200px;
  margin: 60px auto;
  justify-content: space-between;
  .left-col,
  .right-col {
    flex: 1;
    width: 50%;
    padding: 20px;
  }
  .left-col {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    flex: 1;
    ul {
      display: flex;
      flex-direction: column;
      li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        transition: 0.3s all;
        &.selected-item {
          background: rgba(13, 110, 253, 0.25);
        }
        &:hover {
          background: rgba(13, 110, 253, 0.25);
          border-color: transparent;
        }
        > div {
          display: flex;
          align-items: center;
          img {
            width: 55px;
            height: 55px;
            object-fit: cover;
            border-radius: 50%;
          }
          span {
            padding: 0 5px;
            h4 {
              font-size: 18px;
            }
            span {
              font-size: 13px;
              color: #333;
              &.negative {
                color: red;
              }
              &.postive {
                color: green;
              }
            }
          }
        }
        button {
          border: 0px;
          outline: none;
          background-color: #3085d6;
          color: #fff;
          padding: 4px 10px;
          border-radius: 5px;
        }
      }
    }
    .add-friend {
      position: relative;
      div {
        display: flex;
        justify-content: flex-end;
        button {
          border: 0px;
          outline: none;
          background-color: #3085d6;
          color: #fff;
          padding: 4px 20px;
          border-radius: 5px;
        }
      }
      form {
        padding: 30px 10px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-end;
        gap: 10px;
        border: 1px solid #ccc;
        box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
        border-radius: 3px;
        label {
          width: 100%;
          display: flex;
          justify-content: space-between;
          input {
            margin-left: 5px;
            padding: 3px 10px;
            border-radius: 3px;
            border: 1px solid #ccc;
            width: calc(100% - 100px);
            outline: none;
            transition: 0.3s all;
            &:focus {
              border-color: #86b7fe;
              box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
            }
          }
        }
        span {
          width: 100%;
          display: flex;
          justify-content: flex-end;
          button {
            border: 0px;
            outline: none;
            background-color: #3085d6;
            color: #fff;
            padding: 4px 40px;
            border-radius: 5px;
          }
        }
      }
      span[class="close"] {
        position: absolute;
        right: 0;
        bottom: -35px;
        border: 0px;
        outline: none;
        background-color: #3085d6;
        color: #fff;
        padding: 4px 40px;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }
  .right-col {
    .split_form-wrapper {
      background: rgba(13, 110, 253, 0.25);
      padding: 20px 35px;
      h2 {
        margin-bottom: 1rem;
      }
      form {
        display: flex;
        flex-direction: column;
        .input-wrapper {
          display: flex;
          justify-content: space-between;
          label[for="friend's-exepense"] {
            + input {
              border: 0px;
            }
          }
          input {
            width: calc(100% / 3);
            margin-bottom: 15px;
          }
          input,
          select {
            outline: none;
            border: 1px solid #ccc;
            padding: 6px 10px;
            border-radius: 3px;
            transition: 0.3s all;
            &:focus {
              border-color: #86b7fe;
              box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
            }
          }
        }
        button {
          border: 0px;
          outline: none;
          background-color: #3085d6;
          color: #fff;
          padding: 4px 10px;
          border-radius: 5px;
          margin-top: 1rem;
        }
      }
    }
  }
}

@media screen and (max-width: 656px) {
  .app {
    flex-direction: column;
    .right-col,
    .left-col {
      width: 100%;
    }
    .left-col {
      ul {
        order: 1;
        margin-top: 1rem;
      }
    }
  }
}
